<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navigation">

    <a class="navbar-brand" th:ref="@{/}">GameMenu</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li th:class="${activePage == 'blackjack'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" href="@\{/blackjack}">BlackJack <span class="sr-only"</span></a>
            </li>
            <li th:class="${activePage == 'speed calculation'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" href="@\{/speedcalculation}">Speed Calculation <span class="sr-only"</span></a>
            </li>
            <li th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/highestscore}">Highest Score</a>
            </li>
            <li th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/gamemenu}">GameMenu</a>
            </li>



        </ul>

    </div>
</nav>
</body>
</html>